.titles {
  text-align: center;
}

.section-title {
  color: $color-grey;
  font-size: 40px;
}

h3 {
  color: $color-light;
  font-size: 17px;
  letter-spacing: 5px;
}

.no-songs-message {
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
}