.play-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.song-title h3 {
  letter-spacing: 2px;
  font-size: 20px;
}

.song-details {
  display: flex;
 
  p {
    text-align: center;
    padding-right: 70px;
    padding-left: 15px;
  }

}

.green-audio-player .slider .gap-progress .pin {
  background-color: #CF383E;
}

.all-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;

  h2 {
    font-size: 14px;
    letter-spacing: 3px;
  }
}

.list_of_categories {
  display: flex;
  flex-direction: row;

  li {
    list-style: none;
    padding-left: 5px;
  }
}

.subscribe {
  height: 920px;
  position: relative;
  background-image: url('/images/subscribe.jpg');
  background-position: center center;
  //background-size: cover;
  margin-top: 100px;
}

.subscribe-title {
  position: absolute;
  top: 0; /* Adjust the value to move the title higher or lower */
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    font-size: 70px;
    font-weight: $font-semibold;
  }
}

.subscribe-box{
  margin-top: 160px;
  margin-left: 30px;
}

.subscribe-content {
  display: flex;
  justify-content: center;
}

.subscribe-content a{
  position: relative;
  margin-top: 300px;
  width: 400px;
  height: 150px;
}

.btn-join {
  position: absolute;
  display: inline-block;
  width: 300px;
  height: 120px;
  margin: 24px auto 0 auto;
  padding: 12px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  color: $color-light;
  background-color: #CF383E;
  border-color: none;
  border-style: none;
  font-size: 30px;
  font-style: $font-family;
  letter-spacing: 3px;
}

.subscribe-img {
  position: relative;
  max-width: 660px;
  height: 470px;
  margin-left: 300px;

  img {
    width: 100%;
    height: 100%;
  }
}

.singer {
  position: absolute;
  padding-top: 220px;
  z-index: 2;

  h1 {
    padding-left: 110px;
    letter-spacing: 10px;
    font-size: 60px;
    letter-spacing: 15px;
    font-weight: $font-black;
  }

  .surname {
    padding-left: 150px;
  }

  span {
    color: $color-red;
  }
}

.details {
  text-align: right;
  margin-right: 20%;
  padding-top: 60px;

  h2 {
    letter-spacing: 5px;
    color: $color-grey;
    line-height: 0;
  }

  h3 {
    letter-spacing: 10px;
    font-size: 25px;
  }
}

.home-footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.list_of_categories a{
  font-weight: 400;
  color: $color-light;
  text-decoration: none;
}

.list_of_categories .active {
  color: $color-red;
}

.hidden{
  display: none;
}

@media(max-width: 1080px) {
  .subscribe-content {
    padding-top: 50px;

    a{
      margin-top: 250px;
      width: 200px;
      height: 100px;
    }
  }
  
  .btn-join {
    width: 200px;
    height: 90px;
    margin: 18px auto 0 auto;
    padding: 8px;
    border-radius: 7px;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .subscribe-box {
    margin-left: 150px;
  }

  .subscribe-img {
    position: relative;
    max-width: 550px;
    height: 350px;
    margin-left: 150px;
  }

  .singer {
    position: absolute;
    padding-top: 150px;
    z-index: 2;
  }
  
  .singer h1 {
    padding-left: 0;
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: $font-black; /* You need to define $font-black somewhere */
  }
  
  .singer .surname {
    padding-left: 30px;
  }
  
  .details h2 {
    letter-spacing: 2px;
    font-size: 25px;
  }
  
  .details h3 {
    letter-spacing: 10px;
    font-size: 20px;
  }

  .details{
    margin-right: 15%;
  }
}

@media (max-width: 767px){
  .subscribe-title h2{
    font-size: 40px;
  }

  .subscribe-content a{
    margin-top: 220px;
    width: 200px;
    height: 100px;
  }
  
  .btn-join {
    width: 200px;
    height: 90px;
    margin: 18px auto 0 auto;
    padding: 8px;
    border-radius: 7px;
    font-size: 20px;
    letter-spacing: 2px;
  }


  .subscribe-box {
    margin-left: 100px;
  }

  .subscribe-img {
    position: relative;
    max-width: 550px;
    height: 350px;
    margin-left: 100px;
  }

  .singer {
    position: absolute;
    padding-top: 180px;
    padding-right: 30px;
    z-index: 2;
  }
  
  .singer h1 {
    padding-left: 0;
    letter-spacing: 10px;
    font-size: 40px;
    //font-weight: $font-black; /* You need to define $font-black somewhere */
  }
  
  .singer .surname {
    padding-left: 10px;
  }
  
  .details {
    margin-right: 15px;
  }
  
  .details h2 {
    letter-spacing: 2px;
    font-size: 25px;
  }
  
  .details h3 {
    letter-spacing: 5px;
    font-size: 20px;
  }

}
@media (min-width: 319px) and (max-width: 547px){
  .subscribe-title h2{
    font-size: 30px;
    letter-spacing: 2px;
  }

  .subscribe-content a{
    margin-top: 220px;
    width: 150px;
    height: 70px;
  }
  
  .btn-join {
    width: 130px;
    height: 55px;
    margin: 18px auto 0 auto;
    padding: 8px;
    border-radius: 7px;
    font-size: 16px;
    letter-spacing: 2px;
  }

  .subscribe-box {
    margin-left: 150px;
  }

  .subscribe-content {
    padding: 0 15px;
  }

  .subscribe-img {
    position: relative;
    width: 200px;
    height: 250px;
    //margin-left: 0px;
    margin-top: 50px;
  }
  
  .subscribe-img img {
    width: 100%;
    height: 100%;
  }
  
  .singer {
    position: absolute;
    padding-top: 170px;
    z-index: 2;
  }
  
  .singer h1 {
    padding-left: 0;
    letter-spacing: 5px;
    font-size: 30px;
    //font-weight: $font-black; /* You need to define $font-black somewhere */
  }
  
  .singer .surname {
    padding-left: 30px;
  }
  
  .details {
    text-align: right;
    margin-right: 0;
    padding-top: 60px;
  }
  
  .details h2 {
    letter-spacing: 2px;
    font-size: 20px;
  }
  
  .details h3 {
    letter-spacing: 10px;
    font-size: 15px;
  }
  
  .green-audio-player {
    width: 300px;
    min-width: 100px;
  }

  .all-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .list_of_categories{
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .song-title h3 {
    font-size: 16px;
  }
}
