
.home_content {
  padding-top: 50px;
}

.play-box {
  padding: 70px;
}

.footer {
  height: 920px;
  position: relative;
  background-image: url('/images/subscribe.jpg');
  background-position: center center;
  background-size: cover;
  margin-top: 100px;
}

.footer-title {
  position: absolute;
  top: 0; /* Adjust the value to move the title higher or lower */
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    font-size: 70px;
    font-weight: $font-semibold;
  }
}

.footer-box{
  margin-top: 160px;
  margin-left: 30px;
}

.footer-content {
  display: flex;
  justify-content: center;
  padding-left: 20%;
}

.btn-join {
  position: relative;
  margin-top: 280px;
  margin-right: 50px;
}

.btn-join button{
  position: absolute;
  top: 50%;
  right: 50%;
  display: inline-block;
  min-width: 300px;
  min-height: 120px;
  margin: 24px auto 0 auto;
  padding: 12px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: $color-light;
  background-color: #CF383E;
  border-color: none;
  border-style: none;
  font-size: 30px;
  font-style: $font-family;
  letter-spacing: 3px;
}

.footer-img {
  position: relative;
  max-width: 660px;
  height: 470px;
  margin-left: 300px;

  img {
    width: 100%;
    height: 100%;
  }
}

.singer {
  position: absolute;
  padding-top: 220px;
  z-index: 2;

  h1 {
    padding-left: 110px;
    letter-spacing: 10px;
    font-size: 60px;
    letter-spacing: 15px;
    font-weight: $font-black;
  }

  .surname {
    padding-left: 150px;
  }

  span {
    color: $color-red;
  }
}

.details {
  text-align: right;
  margin-right: 200px;
  padding-top: 60px;

  h2 {
    letter-spacing: 5px;
    color: $color-grey;
    line-height: 0;
  }

  h3 {
    letter-spacing: 10px;
    font-size: 25px;
  }
}