h1 {
  font-family: $font-family;
  font-weight: $font-black;
  font-size: 130px;
  color: $color-light;
  letter-spacing: 130px;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: $font-family;
  font-weight: $font-bold;
  font-size: 30px;
  color: $color-light;
  letter-spacing: 15px;
}

h3 {
  font-family: $font-family;
  font-weight: $font-semibold;
  font-size: 20px;
  color: $color-light;
}