h1 {
    font-family: $font-family;
    font-weight: $font-black;
    font-size: 150px;
    color: $color-light;
    letter-spacing: 10px;
  }
  
h2 {
    font-family: $font-family;
    font-weight: $font-bold;
    font-size: 30px;
    color: $color-light; 
  }