/*Variables*/

$font-family: 'Source Sans Pro', sans-serif;
$font-normal: 300;
$font-semibold: 400;
$font-bold: 500;
$font-black: 700;


$color-light: #fff;
$color-grey: #BFBFBF;
$color-dark: #131313;
$color-red: #CF383E;