/*Variables*/

$font-family: 'Source Sans 3', sans-serif;
$font-normal: 300;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;


$color-light: #fff;
$color-grey: #BFBFBF;
$color-black: #131313;
$color-red: #CF383E;